<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="#" class="enlace">
        <img src="/images/thumbnail.png" alt="" class="logo">
    </a>
    <ul class>
        <li><a href="#">SALDO: <%=credito%></a></li>
        <li><a href="/menudia">INICIO</a></li>
        <li><a href="/productos">COMPRAR</a></li>
        <li><a href="/carrito">CARRITO</a></li>
        <li><a href="/miorden">MI ORDEN</a></li>
        <li><a href="/perfil">PERFIL</a></li>
        <li><a href="/historial">HISTORIAL</a></li>
        <li><a href="/cerrarSesion">CERRAR SESIÓN</a></li>
    </ul>

</nav>