<nav class="navbar navbar-expand-lg navbar" style="background-color: #FFC300;">
    <div class="container-fluid">
        <img src="images/thumbnail.png" alt="" class="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/menudia">MENU DEL DÍA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crearmenu">DEFINIR MENU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ordenes">ORDENES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recargar">RECARGAR</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productosEmp">INVENTARIO</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cerrarSesion">CERRAR SESIÓN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>