<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Menu</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    
    <%- include('../partials/menu-empleado');%>

    <form action="/agregarProducto" method="post">
        <h2>Agregar Nuevo Producto</h2>
        <input type="text" name="nom_producto" placeholder="Nombre del producto">
        <input type="number" name="precio_producto" placeholder="Precio del producto">
        <textarea name="desc_producto" id="" placeholder="Descripción del producto"></textarea>
        <label>Tipo Producto</label><br><br>
        <select name="tipo_producto" id="">
            <%respuesta.forEach((respuesta)=>{%>
            <option value="<%=respuesta.id_csubproducto%>"><%=respuesta.tipo_csubproducto%></option>
            <%})%>
        </select>
        <br><br>
        <textarea name="link_imagen" id="" placeholder="Ingresa el link de tu imagen"></textarea>

        <input type="submit" value="AGREGAR" id="boton">
    </form>


</body>

</html>