<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inventory</title>




	<link rel="stylesheet" href="css/styles.css">



</head>
<body>
	<nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="images/thumbnail.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="/crearmenu">MENU DEL DÍA</a></li>
            <li><a href="venta.html">VENTAS</a></li>
            <li><a href="/recargar">RECARGAR</a></li>
            <li><a href="inventario.html">INVENTARIO</a></li>
            
        </ul>
    </nav> 
	<br>
	<br>
	<br>
	<br>
	<section class="inventario sección">
    	
		
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<div class="table-responsive">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Name</th>
								<th>Code</th>
								<th>Stock</th>
								<th>Price</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Product Name</td>
								<td>Product Code</td>
								<td>7</td>
								<td>$77</td>
								<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Product Name</td>
								<td>Product Code</td>
								<td>7</td>
								<td>$77</td>
								<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Product Name</td>
								<td>Product Code</td>
								<td>7</td>
								<td>$77</td>
								<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Product Name</td>
								<td>Product Code</td>
								<td>7</td>
								<td>$77</td>
								<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Product Name</td>
								<td>Product Code</td>
								<td>7</td>
								<td>$77</td>
								<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Product Name</td>
								<td>Product Code</td>
								<td>7</td>
								<td>$77</td>
								<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
							</tr>
							<tr>
								<td class="mdl-data-table__cell--non-numeric">Product Name</td>
								<td>Product Code</td>
								<td>7</td>
								<td>$77</td>
								<td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="zmdi zmdi-more"></i></button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>
</html>