<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recarga</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    
    <%- include('../partials/menu-empleado');%>

    <form action="/recarga" method="post">
        <h2>Recargar saldo</h2>
        <label for="">Boleta/No. Empleado</label>
        <br><br>
        <input type="text" name="boleta" placeholder="Ingresa la Boleta/No. Empleado">
        <br><br>
        <label for="">Monto a recargar:</label>
        <br><br>
        <input type="text" name="recarga" placeholder="Ingresa la cantidad a recargar">
        

        <input type="submit" value="RECARGAR" id="boton">
        <input type="reset" value="CANCELAR" id="boton">
    </form>

</body>

</html>