<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="images/thumbnail.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="/crearmenu">MENU DEL DÍA</a></li>
            <li><a href="venta.html">VENTAS</a></li>
            <li><a href="/recargar">RECARGAR</a></li>
            <li><a href="inventario.html">INVENTARIO</a></li>
            
        </ul>
    </nav> 
  
    <h1>Nueva Venta</h1>
    <div class="container">
        <table class="table">
            
            <thead>
                <tr>
                    <th>Datos del cliente</th>
                    <th></th>
                    <th></th>
                    <th>Fecha estimada de entrega</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Consola">Nombre del alumno:<input type="text" name="nom_cliente" id="nom_cliente">
                    </td>
                    <td data-label="Precio">Num. de boleta:<input type="text" name="nom_cliente" id="nom_cliente"></td>
                    <td data-label="Ventas">Telefono:<input type="text" name="nom_cliente" id="nom_cliente"></td>
                    <td data-label="Fecha de lanzamiento">Fecha del pedido:<input type="text" name="nom_cliente" id="nom_cliente"></td>
                </tr>
                <tr>
                    <td data-label="Consola"></td>
                    <td data-label="Precio"></td>
                    <td data-label="Ventas"></td>
                    <td data-label="Fecha de lanzamiento">Hora estimada:<input type="text" name="nom_cliente" id="nom_cliente"></td>
                </tr>
                <tr>
                    <td data-label="Consola"></td>
                    <td data-label="Precio"></td>
                    <td data-label="Ventas">Crear nuevo registro</td>
                    <td data-label="Fecha de lanzamiento">Guardar registro</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Datos de venta</th>
                    
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Consola">Vendedor: Emmanuel el cacas
                    </td>
                    
                    <td data-label="Fecha de lanzamiento">Anular</td>
                </tr>
                <tr>
                    <td data-label="Consola"></td>
                    
                    <td data-label="Fecha de lanzamiento">Procesar</td>
                </tr>
                <tr>
                    <td data-label="Consola"></td>
                    
                    <td data-label="Fecha de lanzamiento"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Existencia</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Precio total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Consola">Torta de milanesa
                    </td>
                    <td data-label="Precio">-</td>
                    <td data-label="Ventas">2</td>
                    <td data-label="Fecha de lanzamiento">$23</td>
                </tr>
                <tr>
                    <td data-label="Consola"></td>
                    <td data-label="Precio"></td>
                    <td data-label="Ventas"></td>
                    <td data-label="Fecha de lanzamiento"></td>
                </tr>
                <tr>
                    <td data-label="Consola"></td>
                    <td data-label="Precio"></td>
                    <td data-label="Ventas"></td>
                    <td data-label="Fecha de lanzamiento"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>